/*-- This creates the list for the resume descriptions. This was inspired by the w3 schools tutorial on lists */
ul.bullet {
  list-style-type: circle;
  margin: 20px;
}
/* This class centers anything that calls it -->
.center {
  text-align: center;
}
/* This declaration formats the body of the document. This was inspired by a variety of w3 schools css tutorials including backgrounds, padding, box model, and borders */
body {
  background-color: honeydew;
  border: double black;
  border-width: 30px;
  padding: 30px;
  font-weight: normal;
}

/* These declarations were inspired by w3 schools' tutorial on selectors. They format the paragraphs, headings, and link text. */
h1 {
	font-size: 32px;
	background-color: white;
	font-weight: bold;
}
h2, h3, h4 {
	font-size: 18px;
	font-weight: bold;
}

p {
	font-size: 16px;
	font-weight: normal;
}

li {
	font-size: 14px;
	font-family: "Arial", Helvetica, sans-serif;
	letter-spacing: 2px;
}

p, h1, h2, h3, h4 {
	margin: 20px;
	font-family: "Arial", Helvetica, sans-serif;
	color: black;
	letter-spacing: 2px;
}

.underline {
	border-bottom: 3px solid black;
}

/* These declarations style the external links. The text is red to contrast with the green background and the underline is removed. The code is inspired by the w3 schools css links tutorial */
.exLink {
	color: Crimson;
}

a {
	text-decoration: none;
}

/* These declarations are for the images in the portfolio. They position the text and put padding around the image so that they are separated from the sides and text. This comes from the w3 schools image tutorial-*/
.imagetext {
  position: relative;
}

	
img {
	padding: 80px;
}

/* this ID adds padding to any text. It is references in the portfolio to add space between a paragraph and heading */

#paddingText {
	padding-bottom: 50px;
	padding-left:150px;
}

/* These three statements format the navigation bar. This was inspired by the w3 schools navigation bar tutorial. The green text was to blend in with the green background. The internal links go to the resume and portfolio 
documents hosted in github. When the cursor hovers over the links they turn red to contrast with the green */  

menu {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: DarkSeaGreen;
}



li a {
	display: block;
	font-family: "Arial", Helvetica, sans-serif;
	color: teal;
	text-align: center;
	float: left;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: FireBrick;
}

